# Build output
bin/
obj/
*.user
*.suo
.vs/

# NuGet
*.nupkg
packages/

# Rider/VS
.idea/
*.DotSettings.user

# Runtime logs
runtime_err.txt
runtime_log.txt
*.log

# Publish output (binaries)
publish/
